<div>
	<h2>{{ lang('STATISTICS') }}</h2>
	<ul class="no_style">
		<li>
			{{ lang('TOTAL_POSTS_COUNT', dls_posts) }} &bull; {{ lang('TOTAL_TOPICS', dls_topics) }} &bull; {{ lang('TOTAL_USERS', dls_users) }} &bull; {{ lang('NEWEST_USER', new_user) }}
		</li>
		<li>
			{{ lang('DLS_PER_DAY', lang('POSTS'), ppd) }} &bull; {{ lang('DLS_PER_DAY', lang('TOPICS'), tpd) }} &bull; {{ lang('DLS_PER_DAY', lang('USERS'), upd) }}
		</li>
	</ul>
</div>
