{% extends '@ganstaz_web/layout/profile-base.twig' %}

{% block mid_content %}

	<h2 class="memberlist-title">{{ PAGE_TITLE }}</h2>

	{% EVENT ganstaz_web_zodiac_before %}

	{% from '@ganstaz_web/macros/tags.twig' import icon, url %}

	{% if zodiac_data %}

		<div class="gzo-flex gzo-container-fluid gzo-flex-wrap">

			{% for zodiac in zodiac_data %}

				<div class="gzo-card gzo-card-body gzo-border gzo-mb-1 gzo-col-3">

					{% set element = lang(zodiac.element) %}

					{% if zodiac.stem %}
						{% set element = lang('STEM', zodiac.stem) ~ ' ' ~ element %}
					{% endif %}

					<h3>{{ lang(zodiac.name) }} - {{ (element ? element ~ ' ') ~ lang(zodiac.sign) }}</h3>

					<div class="gzo-card-body">
						<dl class="left-box details profile-details">

							<dt class="gzo-dtzw">{{ icon('icon', 'star fa-fw', null, lang('SIGN') ~ lang('COLON')) }}</dt>
							<dd class="gzo-ddz">{{ lang(zodiac.sign) }}</dd>

							{% if element %}
								<dt class="gzo-dtzw">{{ icon('icon', 'bolt fa-fw', null, lang('ELEMENT') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ element }}
								</dd>
							{% endif %}

							{% if zodiac.symbol %}
								<dt class="gzo-dtzw">{{ icon('icon', 'plus fa-fw', null, lang('SYMBOL') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.symbol) }}
								</dd>
							{% endif %}

							{% if zodiac.plant %}
								<dt class="gzo-dtzw">{{ icon('icon', 'tree fa-fw', null, lang('PLANT') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.plant) }}
								</dd>
							{% endif %}

							{% if zodiac.gem %}
								<dt class="gzo-dtzw">{{ icon('icon', 'diamond fa-fw', null, lang('STONE') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.gem) }}
								</dd>
							{% endif %}

							{% if zodiac.ruler %}
								<dt class="gzo-dtzw">{{ icon('icon', 'globe fa-fw', null, lang('RULER') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.ruler) }}
								</dd>
							{% endif %}

							{% if zodiac.extra %}
								{% set extra, symbol = 'MOON', 'moon-o' %}

								{% if zodiac.name === 'CHINESE' %}
									{% set extra, symbol = 'SEASON', 'leaf' %}
								{% elseif zodiac.name === 'MYANMAR' %}
									{% set extra, symbol = 'WEEKDAY', 'calendar' %}
								{% endif %}

								<dt class="gzo-dtzw">{{ icon('icon', symbol ~ ' fa-fw', null, lang(extra) ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.extra) }}
								</dd>
							{% endif %}

							{% if zodiac.dir %}
								<dt class="gzo-dtzw">{{ icon('icon', 'compass fa-fw', null, lang('DIRECTION') ~ lang('COLON')) }}</dt>
								<dd class="gzo-ddz">
									{{ lang(zodiac.dir) }}
								</dd>
							{% endif %}
						</dl>
					</div>
				</div>

			{% endfor %}

		</div>
	{% endif %}

{% EVENT ganstaz_web_zodiac_after %}

{% endblock %}
