{% extends 'layout/profile-base.twig' %}

{% block mid_content %}

	<h2 class="memberlist-title">{{ PAGE_TITLE }}</h2>

    {% EVENT ganstaz_web_zodiac_before %}

    {% from 'macros/tags.html' import icon, url %}

	{% if zodiac_data %}

        <div class="c-gzo-f-row post c-block mid-top-content bg1">

	        {% for zodiac in zodiac_data %}

				<div class="c-gzo-col-3">

					{% set element = lang(zodiac.element) %}

		            {% if zodiac.stem %}
			            {% set element = lang('STEM', zodiac.stem) ~ ' ' ~ element %}
		            {% endif %}

					<h3>{{ lang(zodiac.name) }}	- {{ (element ? element ~ ' ') ~ lang(zodiac.sign) }}</h3>

				    <div class="c-gzo-card">
				        <ul class="t-no-style">

					        <li class="c-zodiac-item c-stat-item">
						        <strong>{{ icon('icon', 'star fa-fw', null, lang('SIGN') ~ lang('COLON')) }}</strong> {{ lang(zodiac.sign) }}
					        </li>

					        {% if element %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'bolt fa-fw', null, lang('ELEMENT') ~ lang('COLON')) }}</strong> {{ element }}
						        </li>
					        {% endif %}

					        {% if zodiac.symbol %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'plus fa-fw', null, lang('SYMBOL') ~ lang('COLON')) }}</strong> {{ lang(zodiac.symbol) }}
						        </li>
					        {% endif %}

					        {% if zodiac.plant %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'tree fa-fw', null, lang('PLANT') ~ lang('COLON')) }}</strong> {{ lang(zodiac.plant) }}
						        </li>
					        {% endif %}

					        {% if zodiac.gem %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'diamond fa-fw', null, lang('STONE') ~ lang('COLON')) }}</strong> {{ lang(zodiac.gem) }}
						        </li>
					        {% endif %}

					        {% if zodiac.ruler %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'globe fa-fw', null, lang('RULER') ~ lang('COLON')) }}</strong> {{ lang(zodiac.ruler) }}
						        </li>
					        {% endif %}

					        {% if zodiac.extra %}
						        {% set extra, symbol = 'MOON', 'moon-o' %}
						        {% if zodiac.name === 'CHINESE' %}
							        {% set extra, symbol = 'SEASON', 'leaf' %}
						        {% elseif zodiac.name === 'MYANMAR' %}
							        {% set extra, symbol = 'WEEKDAY', 'calendar' %}
						        {% endif %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', symbol ~ ' fa-fw', null, lang(extra) ~ lang('COLON')) }}</strong> {{ lang(zodiac.extra) }}
						        </li>
					        {% endif %}

					        {% if zodiac.dir %}
						        <li class="c-zodiac-item c-stat-item">
							        <strong>{{ icon('icon', 'compass fa-fw', null, lang('DIRECTION') ~ lang('COLON')) }}</strong> {{ lang(zodiac.dir) }}
						        </li>
					        {% endif %}
				        </ul>
				    </div>
				</div>

	        {% endfor %}

        </div>
    {% endif %}

{% EVENT ganstaz_web_zodiac_after %}

{% endblock %}
